In [8]:
import os
import csv
import pandas as pd

In [15]:
pricelist = pd.read_csv('PriceList.csv', names=["ID", "Price"])

In [16]:
print(pricelist)

        ID  Price
0  3001265   1200
1  2347800    999
2  2390112    799
3  1009453    599
4  1167234    534
5  9034210    345
6  7346234    239

In [17]:
pricelist.head()

        ID  Price
0  3001265   1200
1  2347800    999
2  2390112    799
3  1009453    599
4  1167234    534

In [18]:
pricelist_dict = pricelist.to_dict()

In [19]:
pricelist_dict

{'ID': {0: 3001265,
  1: 2347800,
  2: 2390112,
  3: 1009453,
  4: 1167234,
  5: 9034210,
  6: 7346234},
 'Price': {0: 1200, 1: 999, 2: 799, 3: 599, 4: 534, 5: 345, 6: 239}}